<div>
    <ul class="fixed-nav-bar">
        <li ng-click="goToHome()">
            <span>Home</span>
        </li>
        <li ng-click="reports()">
            <span>Reports</span>
        </li>
        <li ng-click="userReport()">
            <span>UserReport</span>
        </li>
        <li ng-click="logout()">
            <span>Logout</span>
        </li>
        <li>
            <span>Rules</span>
        </li>
    </ul>
</div>
<div class="row" style="margin-top:48px">
    <div class="col-lg-12 text-center">
        <h2 class="my-4">Following are the rules</h2>
    </div>
    <div class="col-lg-12">
        Rule 1 : One will have to put his bet on one of teams from a match. If his side loses, Rs. 15 will be added to his contribution.
    </div>
    <div class="col-lg-12">
        Rule 2 : If someone is very confident about the team on which he is betting, he can double his bet. If his team wins then
        Rs. 15 will be deducted from his total contribution. But if his team loses then Rs.30 will be added to his contribution.
    </div>
    <div class="col-lg-12">
        Rule 3 : If you fail to bet on any team on particular day before timeline, your bet will be considered as the one on losing
        team.
    </div>
    <div class="col-lg-12">
        You will have to vote on daily basis single or double.
    </div>

</div>